<div class="modal" data-modal="true" id="book_modal">
    <div class="modal-content max-w-[600px] top-[15%]">
        <div class="modal-header py-4 px-5">
            <h3 class="modal-title">Ma lecture</h3>
        </div>
        <div class="modal-body p-0 pb-5">
            <div class="scrollable-y-auto" data-scrollable="true" data-scrollable-max-height="auto"
                 data-scrollable-offset="300px">
                {{ form_start(addBookForm) }}
                    <div class="flex flex-col gap-5 p-5">
                        <div class="flex flex-col gap-1">
                            {{ form_row(addBookForm.book) }}
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="form-label font-normal text-gray-900">Mes notes</label>
                            <div class="flex flex-col w-full gap-1">
                                {{ form_row(addBookForm.description) }}
                            </div>
                        </div>

                        <div class="flex flex-col gap-1">
                            {{ form_row(addBookForm.rating) }}
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="checkbox-group">
                                {{ form_row(addBookForm.is_read) }}
                                <span class="checkbox-label">Lecture terminée</span>
                            </label>
                        </div>

                        <div class="flex">
                            {{ form_row(addBookForm.submit)}}                        
                        </div>
                    </div>
                    {{ form_row(addBookForm._token)}}
                {{ form_end(addBookForm, {render_rest: false}) }}
            </div>
        </div>
    </div>
</div>
